<div data-ng-if="lShowVM.list.title">
  <h2>{{lShowVM.list.title}}</h2>
  <input type="text" data-ng-model="lShowVM.list.title" />
  <button type="button" data-ng-click="lShowVM.update()">Update</button>
  <button type="button" data-ng-click="lShowVM.delete()">Delete</button>
</div>

<div data-ng-repeat= "entry in lShowVM.list.entries" >
  <div class="row">
    <div class="col-md-6 entry">
      <p>{{entry.description}}</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive img-thumbnail" src="{{entry.imageUrl}}" />
      <button type="button" data-ng-click="lShowVM.deleteEntry(entry)">Delete</button>
    </div>
  </div>
</div>

<h2>Add New Entry</h2>
<input type="text" data-ng-model="lShowVM.newEntry.description" placeholder="Description" />
<input type="text" data-ng-model="lShowVM.newEntry.imageUrl" placeholder="Image Url" />
<button type="button" data-ng-click="lShowVM.addEntry()">Add Entry</button>

<div data-ng-if="!lShowVM.list.title">
  <h2>This Bucket List does not exist!</h2>
</div>
